.navbar-fixed-top {
  border-width:0 0 1px;
  top:0;
  -webkit-transform:translate3d(0px, 0px, 0px);
  left:0;
  position:fixed;
  right:0;
  transform:translate3d(0px, 0px, 0px);
  z-index:403;
}

.navbar {
  -webkit-box-shadow:rgba(0, 0, 0, 0.247059) 0 2px 3px;
  box-shadow:rgba(0, 0, 0, 0.247059) 0 2px 3px;
  border:1px solid transparent;
  margin-bottom:0px;
  min-height:50px;
  background-color:#1E90FF;//#222222;
  border-color:#00BFFF;//#080808;
}

.navbar-right {
  float:right;
  width:700px;
}

* {
  box-sizing:border-box;
}

.container {
  padding-left:0;
  padding-right:0;
  position:relative;
  width:940px;
  margin-left:auto;
  margin-right:auto;
}

.nav {
  list-style:none;
  margin-bottom:0;
  padding-left:0;
}

.nav > ul {
  list-style:none;
  margin:0 1px;
  padding:5px;
}

.navbar-nav {
  margin:7.5px -15px;
}

.nav > li {
  display:inline-block;
  position:relative;
}
.nav > li > a {
  display:block;
  padding:10px 15px;
  position:relative;
  color:#F0FFFF;//#777777;
  font-size: 15px;
  text-decoration:none;
  background:0 0;
}
.nav > li > a:hover, .nav > li > a:focus {
  color:white;
  font-weight: bold;
  font-size: 16px;
  text-decoration:none;
}
.nav > li.disabled > a {
  color:#F0FFFF;//#777777;
}
.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
  background-color:transparent;
  color:#F0FFFF;//#777777;
  cursor:not-allowed;
  text-decoration:none;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color:#EEEEEE;
  border-color:#428BCA;
}
.nav .nav-divider {
  background-color:#E5E5E5;
  height:1px;
  margin:9px 0;
  overflow:hidden;
}
.nav > li > a > img {
  max-width:none;
}

.imagenlogo {
    margin: 2px;
    width: 190px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url('../img/logo.jpg');
    background-repeat: no-repeat;
    box-shadow:rgba(0, 0, 0, 0.247059) 0 2px 3px;
    border:1px solid transparent;
}