.webform {
    min-width: 200px;
}

.informacion {
    text-align: left;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #888888;
    background: linear-gradient(black 20%, #D8D8D8 80%);
    width: 50%;
    height: 100%;  
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10px;
    padding: 20px;
    float: left;
    position: relative;
}

.contacto {
    text-align: left;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #888888;
    //background: linear-gradient(#f6f6f6 20%, #D8D8D8 80%);
    width: 50%;
    height: 100%;  
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5px;
    padding: 5px;
    float: left;
    position: relative;
    text-align: center;
}

#contacto_titulo {
    color: #1E90FF;
    font-size: 24px;
    text-decoration:none;
    margin-top: 5px;
    font-weight: bold;
}

.contact_table {
    width: 100%;
    height: 50px;
}

.contact_telefono {
    color: whitesmoke;
    font-size: 18px;
    text-decoration: none;
    text-align: left;
}

.col_flag {
    width: 30%;
    height: 20px;
    vertical-align: central;
}

.col_telefono {
    width: 70%;
    height: 20px;
}

.contact_flag {
    max-width: 30%;
    width: 30%;
    height: auto;
    float: right;
}

.informacion > label {
    color: white;
    display: inline-block;
    width: 55px;
}

.informacion > input {
    width:100%;
    margin-bottom: 5px;
    display: inline-block;
}
.informacion > p {
    color: #1E90FF;
    text-align: justify;
}

.informacion > textarea {
    width: 100%;
    height: 100px;
    vertical-align: top;
}

.informacion > button {
    position: relative;
    //left: 85%;
    float: bottom;
    //padding-right: 10px;
}

.informacion > div{
    margin-top: 5px;
    width: 100%;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}
 
input.valid, textarea.valid{
    border: 2px solid green;
}

.error{
    display: none;
    margin-left: 10px;
}      
 
.error_show{
    color: red;
    margin-left: 10px;
}