.web-form {
    border:1px solid transparent;
    -webkit-box-shadow:rgba(0, 0, 0, 0.247059) 0 3px 4px;
    box-shadow:rgba(0, 0, 0, 0.247059) 0 3px 4px;
    border-color:#D0D0D0;
    height: 100%;
    width: 400px;
    background-color: #E5E5E5;
    padding: 10px;
    margin:10px auto 0;
    margin-bottom: 10px;
}

.web-form > form > div {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
}

.web-form > form > div > input{
    width: 100%;
}

.web-form > form > div > textarea{
    width: 100%;
    height: 150px;
}

.web-form > form > div > label{
    width: 80px;
}

.web-form > form > div > p{
    width: 100%;
    text-align: justify;
}

.div-button {
    text-align: center;
} 

.contacto {
    text-align: left;
    background: transparent;//linear-gradient(#f6f6f6 20%, #D8D8D8 80%);
    width: 100%;
    height: 100%;  
    margin-left: auto;
    margin-bottom: 10px;
    text-align: center;
    border:1px solid transparent;
    border-color:#D0D0D0;
    padding: 10px;
}

.contacto > p {
    color:#1E90FF;
    font-size: 18px;
    text-decoration:none;
    margin-top: 2px;
    padding-bottom: 10px;
    font-weight: bold;
}

.contacto-table {
    width: 250px;
    height: 50px;
    margin:5px auto 0;
}

.contacto-telefono {
    color: #1E90FF;
    font-size: 18px;
    text-decoration: none;
}

.columna-flag {
    width: 20%;
    height: 20px;
    vertical-align: middle;
}

.columna-telefono {
    width: 70%;
    height: 20px;
    text-align: center;
}

.contacto-flag {
    width: 25px;
    height: 25px;
    float: inside;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}

.error{
    display: none;
    margin-left: 10px;
}      

.error_show{
    color: red;
    margin-left: 10px;
}